:root {
  --color-primary: #f6242d;
  --color-primary-light: #f5959a;
  --color-primary-dark: #98161c;
  --color-secondary: #83e1e8;
  --color-secondary-light: #bde6e9;
  --color-secondary-dark: #4e888c;
  --color-grey: #d3d3d3;
  --color-grey-light: #f2f2f2;
  --color-grey-dark: #696969;

  --font-primary: Raleway, sans-serif;
  --font-secondary: "Open Sans", sans-serif;

  --transition-primary: .25s ease-in-out;
  --border-radius: 8px;
  --shadow-primary: 0 1px 5px rgba(0, 0, 0, .15);
}

html {
  font-family: var(--font-primary);
}

h1, h2, h3 {
  font-family: var(--font-secondary);
}

h1 {
  color: #000;
  text-align: center;
}

h2 {
  color: #000;
}

h3 {
  color: var(--color-grey-dark)
}

/*@utility Apply to create red background header*/
.red-header {
  color: #ffffff;
  background-color: var(--color-primary);
  border-radius: 7.5px 0px 7.5px 0px;
  padding: 5px 0;
}

a {
  color: var(--color-primary);
  transition:
    color var(--transition-primary),
    background-color var(--transition-primary);
}

mark {
  background-color: var(--color-secondary);
}

/* ---------- Color Applications ---------- */

.bg-primary {
  background-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}

.bg-primary-dark {
  background-color: var(--color-primary-dark);
}

.text-primary-dark {
  color: var(--color-primary-dark);
}

.bg-primary-light {
  background-color: var(--color-primary-light);
}

.text-primary-light {
  color: var(--color-primary-light);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.text-secondary {
  color: var(--color-secondary);
}

.bg-secondary-dark {
  background-color: var(--color-secondary-dark);
}

.text-secondary-dark {
  color: var(--color-secondary-dark);
}

.bg-secondary-light {
  background-color: var(--color-secondary-light);
}

.text-secondary-light {
  color: var(--color-secondary-light);
}

.bg-grey {
  background-color: var(--color-grey);
}

.text-grey {
  color: var(--color-grey);
}

.bg-grey-dark {
  background-color: var(--color-grey-dark);
}

.text-grey-dark {
  color: var(--color-grey-dark);
}

.bg-grey-light {
  background-color: var(--color-grey-light);
}

.text-grey-light {
  color: var(--color-grey-light);
}
