:root {
  --color-primary: #f6242d;
  --color-primary-light: #f5959a;
  --color-primary-dark: #98161c;
  --color-secondary: #83e1e8;
  --color-secondary-light: #bde6e9;
  --color-secondary-dark: #4e888c;
  --color-grey: #d3d3d3;
  --color-grey-light: #f2f2f2;
  --color-grey-dark: #696969;

  --font-primary: Raleway, sans-serif;
  --font-secondary: "Open Sans", sans-serif;

  --transition-primary: .25s ease-in-out;
  --border-radius: 8px;
  --shadow-primary: 1px 1px 5px rgba(0, 0, 0, .25);
  --shadow-dark: 1px 1px 5px rgba(0, 0, 0, .5);
}

html {
  font-family: var(--font-primary);
}

h1, h2, h3 {
  font-family: var(--font-secondary);
}

h1 {
  color: #000;
  text-align: center;
}

h2 {
  color: #000;
}

h3 {
  color: var(--color-grey-dark)
}

/*@utility Apply to create red background header*/
.red-header {
  color: #ffffff;
  background-color: var(--color-primary);
  border-radius: var(--border-radius) 0px var(--border-radius) 0px;
  /* padding: 5px 0; */
  display: inline-block;
  padding: .1625rem 2.6rem;
}

a {
  color: var(--color-primary);
  transition:
    color var(--transition-primary),
    background-color var(--transition-primary);
}

a:hover,
a:focus {
  color: var(--color-primary-dark);
}

mark {
  background-color: var(--color-secondary);
}

/* ---------- Color Applications ---------- */

/*@utility Used to apply the primary colour as the background colour */

.bg-primary {
  background-color: var(--color-primary);
}

/*@utility Used to apply the primary colour as the text colour */

.text-primary {
  color: var(--color-primary);
}

/*@utility Used to apply the primary-dark colour as the background colour */

.bg-primary-dark {
  background-color: var(--color-primary-dark);
}

/*@utility Used to apply the primary-dark colour as the text colour */

.text-primary-dark {
  color: var(--color-primary-dark);
}

/*@utility Used to apply the primary-light colour as the background colour */

.bg-primary-light {
  background-color: var(--color-primary-light);
}

/*@utility Used to apply the primary-light colour as the text colour */

.text-primary-light {
  color: var(--color-primary-light);
}

/*@utility Used to apply the secondary colour as the background colour */

.bg-secondary {
  background-color: var(--color-secondary);
}

/*@utility Used to apply the secondary colour as the text colour */

.text-secondary {
  color: var(--color-secondary);
}

/*@utility Used to apply the secondary-dark colour as the background colour */

.bg-secondary-dark {
  background-color: var(--color-secondary-dark);
}

/*@utility Used to apply the secondary-dark colour as the text colour */

.text-secondary-dark {
  color: var(--color-secondary-dark);
}

/*@utility Used to apply the secondary-light colour as the background colour */

.bg-secondary-light {
  background-color: var(--color-secondary-light);
}

/*@utility Used to apply the secondary-light colour as the text colour */

.text-secondary-light {
  color: var(--color-secondary-light);
}

/*@utility Used to apply the grey colour as the background colour */

.bg-grey {
  background-color: var(--color-grey);
}

/*@utility Used to apply the grey colour as the text colour */

.text-grey {
  color: var(--color-grey);
}

/*@utility Used to apply the grey-dark colour as the background colour */

.bg-grey-dark {
  background-color: var(--color-grey-dark);
}

/*@utility Used to apply the grey-dark colour as the text colour */

.text-grey-dark {
  color: var(--color-grey-dark);
}

/*@utility Used to apply the grey-light colour as the background colour */

.bg-grey-light {
  background-color: var(--color-grey-light);
}

/*@utility Used to apply the grey-light colour as the text colour */

.text-grey-light {
  color: var(--color-grey-light);
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-ai-center {
  align-items: center;
}

.flex-grow {
  flex-grow: 2;
}

@media only screen and (min-width: 38em) {

  .red-header {
    padding: .175rem 2.8rem;
  }

}

@media only screen and (min-width: 60em) {

  .red-header {
    padding: .1875rem 3rem;
  }

}
