<ul class="grid colour">
  {% if include.yard == true %}
  <li class="unit xs-1 s-1 m-1-2 push-1-2">
    <i class="icon i-3-2">
      <svg><use xlink:href="/images/icons.svg#yard" /></svg>
    </i>
    <span class="icon-label mega bold">Fenced yard</span>
  </li>
  {% endif %}

  {% if include.pet-free == true %}
  <li class="unit xs-1 s-1 m-1-2 push-1-2">
    <i class="icon i-3-2">
      <svg><use xlink:href="/images/icons.svg#pet-free" /></svg>
    </i>
    <span class="icon-label mega bold">Pet-free household</span>
  </li>
  {% endif %}

  {% if include.ball == true %}
  <li class="unit xs-1 s-1 m-1-2 push-1-2">
    <i class="icon i-3-2">
      <svg><use xlink:href="/images/icons.svg#ball" /></svg>
    </i>
    <span class="icon-label mega bold">Regular exercise</span>
  </li>
  {% endif %}

  {% if include.walk == true %}
  <li class="unit xs-1 s-1 m-1-2 block push-1-2">
    <i class="icon i-3-2">
      <svg><use xlink:href="/images/icons.svg#walk" /></svg>
    </i>
    <span class="icon-label mega bold">Regular walks</span>
  </li>
  {% endif %}

  {% if include.food-bowl == true %}
  <li class="unit xs-1 s-1 m-1-2 block push-1-2">
    <i class="icon i-3-2">
      <svg><use xlink:href="/images/icons.svg#food-bowl" /></svg>
    </i>
    <span class="icon-label mega bold">Special diet</span>
  </li>
    {% endif %}

  {% if include.medication == true %}
  <li class="unit xs-1 s-1 m-1-2 block push-1-2">
    <i class="icon i-3-2">
      <svg><use xlink:href="/images/icons.svg#medication" /></svg>
    </i>
    <span class="icon-label mega bold">Requires Medication</span>
  </li>
  {% endif %}

  {% if include.child-free == true %}
  <li class="unit xs-1 s-1 m-1-2 block push-1-2">
    <i class="icon i-3-2">
      <svg><use xlink:href="/images/icons.svg#child-free" /></svg>
    </i>
    <span class="icon-label mega bold">Child-free household</span>
  </li>
  {% endif %}

  {% if include.house == true %}
  <li class="unit xs-1 s-1 m-1-2 block push-1-2">
    <i class="icon i-3-2">
      <svg><use xlink:href="/images/icons.svg#house" /></svg>
    </i>
    <span class="icon-label mega bold">House</span>
  </li>
  {% endif %}

  {% if include.apartment == true %}
  <li class="unit xs-1 s-1 m-1-2 block push-1-2">
    <i class="icon i-3-2">
      <svg><use xlink:href="/images/icons.svg#apartment" /></svg>
    </i>
    <span class="icon-label mega bold">Apartment</span>
  </li>
  {% endif %}

</ul>
