.footer a {
  text-decoration: none;
  color: #fff;
}

.footer a:hover {
  text-decoration: none;
  color: var(--color-secondary);
}

.footer {
  background-color: var(--color-grey-dark);
  color: #fff;
  text-align: center;
}

@media only screen and (min-width: 38em) {

  .footer {
    text-align: left;
  }

  .social-icons {
    text-align: right;
  }

}
