.pagination a {
  color: black;
  padding: .5rem 1rem;
  text-decoration: none;
}

.pagination a.current {
  background-color: var(--color-primary);
  color: #fff;
  border-radius: var(--border-radius);
}
