<nav class="{{include.navClass}}" role="navigation" {% if include.navId %}id="{{include.navId}}"{% endif %}>
  <ul class="{{include.ulClass}}">
    <li class="{{include.liClass}}">
      <a class="{{include.aClass}}" href="/">Home</a>
    </li>
    <li class="{{include.liClass}}">
      <a class="{{include.aClass}}" href="{% if page.url contains 'owner' %}/owner{% endif %}/my-bookings">My Bookings</a>
    </li>
    <li class="{{include.liClass}}">
      <a class="{{include.aClass}}" href="/about">About</a>
    </li>
  </ul>
</nav>
