textarea,
select,
input:not([type="checkbox"]),
input:not([type="radio"]) {
  background-color: #fff;
  border: 2px solid var(--color-grey);
  border-radius: var(--border-radius);
  height: calc(1.3rem + .65rem + .65rem);
  padding: .65rem .65rem;
}

label {
  font-family: var(--font-primary);
  font-weight: bold;
  color: var(--color-grey-dark);
}

.input-icon {
  background: url("../../images/icon-blank.svg") left / contain no-repeat;
}

#basic-icon {
  padding-left: 3rem;
}

input[type=date] {
  padding-left: 3rem;
}
