textarea,
select,
input:not([type="checkbox"]),
input:not([type="radio"]) {
  background-color: #fff;
  border: 2px solid var(--color-grey);
  border-radius: var(--border-radius);
  height: calc(1.3rem + .65rem + .65rem);
  padding: .65rem .65rem;
}

label {
  font-family: var(--font-primary);
  font-weight: bold;
  color: var(--color-grey-dark);
}

::placeholder {
  opacity: 1;
}

input[type=date] {
  padding-left: 2.5rem;
}

.select-box{
  overflow: hidden;
  position: relative;
}

.select-box:after{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--color-secondary);
  position: absolute;
  top: 62%;
  right: 1rem;
  content: "";
  z-index: 98;
 }

.select-box select{
  position: relative;
  z-index: 99;
  background: none;
}

@media only screen and (min-width: 38em) {

  textarea,
  select,
  input:not([type="checkbox"]),
  input:not([type="radio"]) {
    height: calc(1.4rem + .7rem + .7rem);
    padding: .7rem .7rem;
  }

}

@media only screen and (min-width: 60em) {

  textarea,
  select,
  input:not([type="checkbox"]),
  input:not([type="radio"]) {
    height: calc(1.5rem + .75rem + .75rem);
    padding: .75rem .75rem;
  }

}
