.card {
  background-color: var(--color-grey-light);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-primary);
  text-decoration: none;
  color: #000;
  display: block;
  transition:
    box-shadow var(--transition-primary);
  position: relative;
  overflow: hidden;
}

.card:hover,
.card:focus {
  box-shadow: var(--shadow-dark);
}

.card-review {
  display: flex;
}

.close-card {
  color: var(--color-grey);
  transition:
    color var(--transition-primary);
}

.close-card:hover,
.close-card:focus {
  color: var(--color-grey-dark);
}

.recent-users a {
  color: #000;
  text-decoration: none;
  transition:
    background-color var(--transition-primary);
  border-radius: var(--border-radius);
}

.recent-users a:hover,
.recent-users a:focus {
  background-color: #fff;
}

.card-sign-in {
  width: 100%;
  max-width: 25em;
}

.sign-in-fade-in {
  display: none;
}

.sign-in-wrap {
  position: fixed;
  width: 100%;
  height: calc(100vh - 2.921875rem);
  background-color: rgba(0, 0, 0, .8);
  bottom: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-profile-1 {
  padding-top: 150%;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 60%, cover;
  background-position: left bottom, center bottom;
  transition: all var(--transition-primary);
}

.card-profile-1 h3 {
  color: #fff;
}

/* .card-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #fff;
  text-align: center;
} */

.favourite {
  position: absolute;
  top: .08125rem;
  right: .08125rem;
  color: var(--color-primary);
  background-color: transparent;
  border: 0;
  opacity: 0;
  transition:
    opacity var(--transition-primary),
    color var(--transition-primary);
  z-index: 12;
}

.card:hover .favourite,
.card:focus .favourite {
  opacity: .5;
}

.card:hover .favourite.favourited,
.favourite.favourited,
.card:hover .favourite:hover,
.favourite:focus {
  opacity: 1;
  background-color: transparent;
}

.favourite svg:last-child {
  opacity: 0;
  transition:
    opacity var(--transition-primary);
}

.favourite.favourited svg:last-child,
.favourite:hover svg:last-child {
  opacity: 1;
}

.favourite.favourited {
  color: var(--color-primary);
}
/*
.card-profile-2 {
  position: relative;
  background-color: var(--color-grey-light);
  border-radius: 7.5px;
  overflow: hidden;
  box-shadow: var(--shadow-primary);
} */

.outline {
  border: 2px solid var(--color-grey);
  border-bottom: 0;
  border-radius: 7.5px 7.5px 0 0;
}
/*
.category {
  display: inline-block;
  background-color: var(--color-primary);
  border-radius: 0 0 7.5px 0;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
} */
/*
.card-profile-2 .profile-img-wrap img {
  margin-top: -1.75rem;
} */

.card-profile h3 {
  color: var(--color-primary);
}

.card-profile .unit {
  text-decoration: none;
  /* background-color: var(--color-primary); */
  color: var(--color-primary);
  transition: var(--transition-primary);
  padding-left: .55rem;
  border-radius: 0 var(--border-radius) 0 var(--border-radius);
}

.card-profile .unit:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.card-profile .unit:last-child {

  border-radius: var(--border-radius) 0 var(--border-radius) 0;
}

.card-profile .rating {
  color: var(--color-primary);
}

.profile-img-wrap {
  padding-top: 8rem;
  margin-top: 1.3rem;
  /* position: relative; */
}

.card-top-img {
  position: absolute;
  z-index: 10;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  /* top: -3.25rem; */
  top: -2px;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-size: 100% 60%, cover;
  background-position: left bottom, center;
  transition:
    border-radius var(--transition-primary),
    border-color var(--transition-primary),
    top var(--transition-primary),
    bottom var(--transition-primary),
    left var(--transition-primary),
    transfrom var(--transition-primary),
    width var(--transition-primary),
    height var(--transition-primary);
  border: 2px solid rgba(0, 0, 0, 0);
}

.card-top-img-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #fff;
  transition:
    bottom var(--transition-primary);
}

.card-top-img-content h3 {
  color: #fff;
}
/*
.card:hover .profile-img-wrap {
  position: relative;
} */

.card:hover .card-top-img,
.card:focus .card-top-img {
  width: 8rem;
  height: 8rem;
  border-radius: 20rem;
  top: 2.6rem;
  /* bottom: 0; */
  border-color: var(--color-primary);
}

.card:hover .card-top-img-content,
.card:focus .card-top-img-content {
  /* opacity: 0; */
  bottom: -30rem;
}

.card .red-header {
  z-index: 11;
}

.review-profile-wrap {
  max-width: 10rem;
  margin-left: auto;
  margin-right: auto;
}


@media only screen and (min-width: 38em) {

  .sign-in-wrap {
    height: calc(100vh - 46px);
  }

  .card:hover .card-top-img,
  .card:focus .card-top-img {
    top: 2.8rem;
  }


  .card-review .grid {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

}

@media only screen and (min-width: 60em) {

  .sign-in-wrap {
    height: calc(100vh - 2.921875rem);
  }

  .card:hover .card-top-img,
  .card:focus .card-top-img {
    top: 3rem;
  }

  .card-review .grid {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }


}
