<div class="card card-profile">
  {% if include.topSitter == true %}
    <span class="red-header gutter pad-t-1-8 pad-b-1-8 milli inline-block relative">Top Sitter</span>
  {% else %}
    <span class="gutter pad-t-1-8 pad-b-1-8 milli inline-block">&nbsp</span>
  {% endif %}
  <div class="profile-img-wrap">
    <div class="card-top-img" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .55)), url('/images/{{include.profileImg}}');">
      <div class="card-top-img-content text-center island">
        <h3 class="push-0">{{include.name}}</h3>
        <p class="push-1-2">{{include.location}}</p>
        {% pattern rating/rating rating=include.rating color="primary" iconSize="i-1" %}
      </div>
    </div>
  </div>
  <div class="card-text island">
    <h3 class="push-0 text-center">{{include.name}}</h3>
    <p class="push-1-2 text-center milli">{{include.location}}</p>
    <p class="bio push-0 text-center italic"><q>{{include.bio | truncate: 90 }}</q></p>
  </div>
  {% pattern rating/rating rating=include.rating color="primary" divClass="pad-b text-center" iconSize="i-1" %}
  <div class="grid">
    <a class="unit [ xs-1-2 ] text-center pad-t-1-2 pad-b-1-2" href="#">
      <i class="icon i-1 push-r-1-4">
        <svg><use xlink:href="/images/icons.svg#logo"></svg>
      </i>
      <span class="icon-label">Book Now</span>
    </a>
    <a class="unit [ xs-1-2 ] text-center pad-t-1-2 pad-b-1-2" href="{% if page.url contains 'owner' %}../{% endif %}{% if include.profileLink %}{{include.profileLink}}{% else %}#{% endif %}">
      <span class="icon-label push-r-1-4">Learn More</span>
      <i class="icon i-1">
        <svg><use xlink:href="/images/icons.svg#next"></svg>
      </i>
    </a>
  </div>
  <button class="favourite {% if include.favourited == true %}favourited{% endif %}" href="#">
    <i class="icon i-1">
      <svg><use xlink:href="/images/icons.svg/#heart-lines"></svg>
      <svg><use xlink:href="/images/icons.svg/#heart"></svg>
    </i>
  </button>
</div>
