<ul class="grid list-group section-tab-btns">
  <li class="unit [ xs-1 s-1-3 ] text-center section-tab-selected"><a class="tab-button-1 section-tab-btn block island-1-4" href="#tab-page-1">Upcoming Bookings</a></li>
  <li class="unit [ xs-1 s-1-3 ] text-center"><a class="tab-button-2 section-tab-btn block island-1-4" href="#tab-page-2">Requested Bookings</a></li>
  <li class="unit [ xs-1 s-1-3 ] text-center"><a class="tab-button-3 section-tab-btn block island-1-4" href="#tab-page-3">Past Bookings</a></li>
</ul>
<div class="pad-t-2 pad-b-2">
  <div id="tab-page-1" class="section-tab-page section-tab-page-active">
    <div class="grid">
      {% for bookings in site.data.owner-bookings %}
      <div class="unit [ xs-1 m-1-2 l-1-2 ] island-1-2">
        {% pattern cards/my-bookings profileImg=bookings.profileImg sitter-name=bookings.sitter-name booking-dates=bookings.booking-dates location=bookings.location status="Booking confirmed" %}
      </div>
      {% endfor %}
    </div>
  </div>
  <div id="tab-page-2" class="section-tab-page section-tab-page-active">
    <div class="grid">
      {% for bookings in site.data.owner-bookings %}
      <div class="unit [ xs-1 m-1-2 l-1-2 ] island-1-2">
        {% pattern cards/my-bookings profileImg=bookings.profileImg sitter-name=bookings.sitter-name booking-dates=bookings.booking-dates location=bookings.location status="Booking requested" %}
      </div>
      {% endfor %}
    </div>
  </div>
  <div id="tab-page-3" class="section-tab-page section-tab-page-active">
    <div class="grid">
      {% for bookings in site.data.owner-bookings %}
      <div class="unit [ xs-1 m-1-2 l-1-2 ] island-1-2">
        {% pattern cards/my-bookings profileImg=bookings.profileImg sitter-name=bookings.sitter-name booking-dates=bookings.booking-dates location=bookings.location status="Booking complete" %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
