.section-tab-btn {
  border: none;
  color: var(--color-grey);
}

.section-tab-btn:hover,
.section-tab-selected a {
  color: var(--color-primary);
}

.section-tab-btns li {
  border-bottom: 2px solid var(--color-grey);
  transition: border-color .25s;
  padding: .65rem;
}

.section-tab-btns li:hover,
li.section-tab-selected {
  border-bottom: 2px solid var(--color-primary);
}

.section-tab-page {
  display: none;
}

.section-tab-page-active {
  display: block;
}

@media only screen and (min-width: 25em) {

  .section-tab-btns li {
    padding: 0;
  }

}
