---
layout: default
---
<main>
  {% pattern banner-photo/banner-photo bannerImg="/images/banner-photo.jpg" headline="Sleep Rover cares about finding the best possible care for your four-legged friend." filterform=false %}
  <section class="wrapper gutter-2 pad-b-2 pad-t-2 text-center">
    <ul class="list-group-inline pad-t-2">
      <li class="icon-link exa island-1-4" href="#">
        <i class="icon i-3 push-1-2">
          <svg><use xlink:href="/images/icons.svg#sitter"></use></svg>
        </i>
        <p class="push-0">1600</p>
        <p>Sitters</p>
      </li>
      <li class="icon-link exa island-1-4" href="#">
        <i class="icon i-3 push-1-2">
          <svg><use xlink:href="/images/icons.svg#city"></use></svg>
        </i>
        <p class="push-0">15</p>
        <p>Cities</p>
      </li>
      <li class="icon-link exa island-1-4" href="#">
        <i class="icon i-3 push-1-2">
          <svg><use xlink:href="/images/icons.svg#owner"></use></svg>
        </i>
        <p class="push-0">6000</p>
        <p>Owners</p>
      </li>
      <li class="icon-link exa island-1-4" href="#">
        <i class="icon i-3 push-1-2">
          <svg><use xlink:href="/images/icons.svg#dog"></use></svg>
        </i>
        <p class="push-0">2300</p>
        <p>Dogs</p>
      </li>
    </ul>
  </section>
  <section class="wrapper gutter-2 pad-b-2 pad-t-2">
    <div class="grid">
      <div class="unit [ xs-1 s-1 m-1 l-1-2 ] gutter-1-2 ">
        <p class="tera bold">Sleep Rover is dedicated to providing quality care that meets all your dog's needs.</p>
        <p>Sleep Rover carefully considers all of the needs of your dog in every step of their business. Every dog is different. That is why we focus on finding care for your four-legged best friend that meets each and every one of their specific needs. Each Sleep Rover sitter has been evaluated and is certified to provide the highest quality care for your dog.</p>
      </div>
      <div class="unit [ xs-1 s-1 m-1 l-1-2 ] gutter-1-2">
        <div class="embed embed-3by2">
          <img class="embed-item" src="/images/about-dog.jpg" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="gutter-2 wrapper pad-b-2 pad-t-2">
    <h2>Frequently Asked Questions</h2>
    {% pattern accordion/accordion title="What is Sleep Rover?" text="Sleep Rover connects dog owners with quality pet sitters. Whether you are looking for a single night stay, or long-term boarding, Sleep Rover can help you find a great option for you and your dog." %}
    {% pattern accordion/accordion title="Can I use Sleep Rover for pets that are not dogs?" text="Sleep Rover specializes in care for dogs, so unfortunately we do not serve other types of pets. We want to make sure that we provide the highest quality options for our dog owners." %}
    {% pattern accordion/accordion title="How do you verify your dog sitters?" text="Sleep Rover guarantees only the highest quality dog sitters. Our sitters have undergone training and certification to provide you with the best service." %}
    {% pattern accordion/accordion title="How do you I become a dog sitter?" text="Sleep Rover is always growing and expanding to new regions. Please submit and application form if you are interested in becoming a pet sitter with us." %}

  </section>
</main>
