<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Sleep Rover</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>
<body{% if page.signin == true %} class="signed-in"{% endif %}>
  <ul class="skip-links">
    <li><a href="#main">Jump to main content</a></li>
    <li><a href="#nav">Jump to navigation</a></li>
  </ul>
  {% pattern header/navbar profileImg=page.profileImg pageBanner=page.pageBanner %}
  <div class="sign-in-fade-in">
    <div class="sign-in-wrap open">
      {% pattern cards/signin %}
    </div>
  </div>
  <main id="main" role="main">
    {{content}}
  </main>
  <script src="{{site.baseurl}}/js/main.js"></script>
  <small>
    {% pattern footer/footer %}
  <small>
</body>
</html>
