---
layout: default
---
{% assign sitterInfo=site.data.sitters.[page.sitterData] %}
<div class="request-fade-in">
  <div class="request-wrap full-height open">
    {% pattern cards/booking-requested profileImg=sitterInfo.profileImg sitter-name=sitterInfo.name booking-dates="April 4 — April 6, 2019" %}
  </div>
</div>
<section class="pad-t-2 pad-b-2 profile-base-info" tabindex="0">
  <div class="pad-t-2">
    <div class="wrapper grid gutter">
      <div class="unit [ xs-1 ml-1-3 ] pad-t-1-2 pad-b-1-2">
        <div class="embed embed-1by1">
          <img class="embed-item" src="/images/{{sitterInfo.profileImg}}" alt="">
        </div>
      </div>
      <div class="unit [ xs-1 ml-2-3 ] pad-t-1-2 pad-b-1-2 gutter">
        <h1 class="red-header">{{sitterInfo.name}}</h1>
        <div class="profile-info-content-wrap ">
          <p class="max-length-no-center">{{sitterInfo.bio}}</p>
          <div class="icon-wrap push mega">
            <i class="icon i-1">
              <svg><use xlink:href="/images/icons.svg#location"></use></svg>
            </i>
            <span class="icon-label">{{sitterInfo.location}}</span>
          </div>
          <div class="push-2">
            {% pattern buttons/basic text="Book now!" btnSize="mega booking-request" %}
          </div>
          <h2 class="push-1-2">Rating</h2>
          {% pattern rating/rating rating=sitterInfo.rating color="primary" iconSize="i-1-1-2" %}
        </div>
      </div>
    </div>
  </div>

</section>
<section class="pad-t-2 pad-b-2 bg-grey-light" tabindex="0">
  <div class="wrapper">
    <div class="grid island-1-2">
      <div class="unit [ xs-1 l-1-3 ] island-1-2">
        <h2 class="">Amenities</h2>
        {% pattern icon-list/icon-list yard=sitterInfo.amenities.yard pet-free=sitterInfo.amenities.pet-free ball=sitterInfo.amenities.ball walk=sitterInfo.amenities.walk food-bowl=sitterInfo.amenities.food-bowl medication=sitterInfo.amenities.medications child-free=sitterInfo.amenities.child-free house=sitterInfo.amenities.house apartment=sitterInfo.amenities.apartment %}
      </div>
      <div class="unit [ xs-1 l-2-3 ] island-1-2">
        <h2 class="">Photos</h2>
        {% pattern photo-array/photo-array photo1=sitterInfo.photos.photo1 photo2=sitterInfo.photos.photo2 photo3=sitterInfo.photos.photo3 photo4=sitterInfo.photos.photo4 photo5=sitterInfo.photos.photo5 photo6=sitterInfo.photos.photo6 photo1Alt=sitterInfo.photoAlts.photo1Alt photo2Alt=sitterInfo.photoAlts.photo2Alt photo3Alt=sitterInfo.photoAlts.photo3Alt photo4Alt=sitterInfo.photoAlts.photo4Alt photo5Alt=sitterInfo.photoAlts.photo5Alt photo6Alt=sitterInfo.photoAlts.photo6Alt %}
      </div>
    </div>
  </div>
</section>
<section class="pad-t-2 pad-b-2" tabindex="0">
  <div class="wrapper">
    <div class="gutter">
      <h2 class="">Reviews</h2>
    </div>
    <div class="grid grid-stretch island-1-2">
      {% for reviews in site.data.reviews %}
        <div class="unit [ xs-1 m-1-2 ] unit-content-distribute island-1-2">
          {% pattern cards/review profileImg=reviews.profileImg rating=reviews.rating reviewTitle=reviews.reviewTitle reviewText=reviews.reviewText %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
