.photo-array a:hover,
.photo-array-focused a:hover {
  color: var(--color-secondary);
  opacity: .4;
}

.photo-array-focused {
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  z-index: 500;
}

.photo-array-image {
  width: 60vw;
}
