.photo-array a:hover,
.photo-array-focused a:hover {
  color: var(--color-secondary);
  opacity: .4;
}

.photo-array-focused {
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  width: 100vw;
  height: calc(100% - 46.75px);
  bottom: 0;
  left: 0;
  display: none;
  z-index: 500;
  transition: height var(--transition-primary);
}

.photo-array-image {
  width: 48vw;
}

@media only screen and (min-width: 38em) {

  .photo-array-focused {
    height: calc(100% - 56.42px);
  }

}

@media only screen and (min-width: 60em) {

  .photo-array-focused {
    height: calc(100% - 65.75px);
  }

}
