.profile-photo {
  border-radius: 100%;
  overflow: hidden;
  border-width: 2px;
  border-style: solid;
  transition: border var(--transition-primary);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.profile-photo-center {
  margin-left: auto;
  margin-right: auto;
}
